.wishlist_item {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.wishlist_item:hover {
  transform: scale(1.02);
}

.product-card {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  width: 21rem;
  height: fit-content;
  text-align: center;
  padding: 30px;
  cursor: pointer;
  overflow: hidden;
  z-index: 13;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card img {
  width: auto;
  height: 200px;
  border-radius: 8px;
}

.product-card .product-name {
  font-size: 16px;
  font-weight: 500;
  margin: 10px 0;
}

.product-card p {
  width: 12rem;
  text-wrap: pretty;
  font-size: 14px;
  color: #333;
  margin: 5px 0;
}

.product-card a {
  text-decoration: none;
  color: #333;
}

.productsButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.addToCartButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 48%;
  outline: none;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  transition: transform 0.2s;
}

.addToCartButton:hover,
.addToWishlistButton:hover {
  transform: scale(1.05);
}

.addToCartButton {
  background-color: #f5a022;
}

.addToWishlistButton {
  position: absolute;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;

  top: 25px;
  right: 15px;
}

.chatWithSellerButton {
  background-color: #007bff;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 8px;
  display: inline-flex;
  align-items: center;
  font-size: 14px;
}

.chatWithSellerButton:hover {
  background-color: #0056b3;
}


/* cart item */
.cart-item {
  height: 7rem;
}

.cart-item td {
  height: 7rem;
}

.item-image {
  width: 80px;
  height: 100%;
  border-radius: 8px;
}

.item-image img {
  width: 100%;
  height: 100%;
}

.item-details,
.item-brand {
  padding-left: 10px;
}

.item-qty span {
  padding: 0 10px;
  font-size: 1.2rem;
}

.item-price {
  font-size: 1.2rem;
  text-align: right;
  color: #333;
  padding-right: 10px;
}

.remove {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.remove-item {
  background-color: transparent;
  border: none;
  color: #f5a022;
  cursor: pointer;
  font-size: 18px;
}

.cart-item .item-qty {
  display: flex;
  align-items: center;
}

.item-qty button {
  background-color: #f5a022;
  color: #fff;
  font-weight: 700;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1rem;
}
