.contact {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  margin: auto;
}
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name-email {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.name-email input {
  width: 17rem;
  height: 2.5rem;
  margin: 20px;
  font-size: 15px;
  padding: 10px;
  outline: none;
}

.name-email input:focus {
  border: 1px solid #f3b558;
}

.name-email input::placeholder {
  padding: 10px;
}

.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.message input {
  width: 36.5rem;
  height: 2.5rem;
  font-size: 15px;
  padding: 10px;
  outline: none;
  outline: none;
}
.message input:focus {
  border: 1px solid #f3b558;
}

.message input::placeholder {
  padding: 10px;
}

.message textarea {
  width: 36.5rem;
  height: 8rem;
  margin-top: 40px;
  font-size: 15px;
  padding: 10px;
  outline: none;
}
.message textarea:focus {
  border: 1px solid #f3b558;
}

.message textarea::placeholder {
  padding: 10px;
}

.contact-form button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 48%;
  outline: none;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  transition: transform 0.2s;
  background-color: #f5a022;
  margin: 30px;
}

.contact-form button:hover {
  background-color: #f3b558;
}
